.container{
    margin: auto; 
    width: auto; 
    height: 50%;
}

.name{
    text-align: center;
}

span{
    font-size: larger;
}

.cards{
    text-align: center;
}

.card{
    display: inline;
}

#master{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    visibility: visible;
}
.monte{
    grid-column: 1;
}

.players{
    grid-column: 2;
}

#white{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    visibility: hidden;
}

#escolheCor{
    visibility: hidden;
}